DISCORD_TOKEN=<bot token>
DISCORD_CLIENT_SECRET=<bot secret>
DISCORD_CLIENT_ID=< bot id>
PREMIUM_ACTIVATION_LOG_CHANNEL=<channelid>
PREMIUM_EXPIRATION_LOG_CHANNEL=<channelid>
PREMIUM_USE_LOG_CHANNEL=<channelid>
GUILD_JOIN_LOG_CHANNEL=<channelid>
GUILD_LEAVE_LOG_CHANNEL=channelid>
TOPGG=<topggtoken>
COMMAND_LOG_WEBHOOK_URL=<webhooklink>

# No Prefix Log Channels
NO_PREFIX_ADD_LOG_CHANNEL=<channelid>
NO_PREFIX_EXPIRE_LOG_CHANNEL=<channelid>
AUTO_NO_PREFIX_BOOST_LOG_CHANNEL=<channelid>
AUTO_NO_PREFIX_UNBOOST_LOG_CHANNEL=<channelid>

# AFK COMMAND DATABASE
REDIS_HOST=<redishost>
REDIS_PORT=<redisport>
REDIS_USERNAME=<redisusername>
REDIS_PASSWORD=<redispassword>

# MongoDB
MONGO_URI=<mongostring>

# DAshboard stuff
DASHBOARD_URL=<dashboard or web url eg: https://scyro.xyz>
API_SECRET=<api same as dashboard>
